<% if notice %>
	<div class="alert alert-success"><%= notice %></div>
<% end %>
<% if alert %>
	<div class="alert alert-error"><%= notice %></div>
<% end %>

<%= form_for @list, :validate => true do |f| %>
	<p><%= f.text_field :name, placeholder: "Name" %></p>
	<p><%= f.text_field :description, placeholder: "Description" %></p>
	<%= f.submit class: "btn btn-info" %>
<% end %>
