<%= flash[:notice] %>
<h2><%= @list.name %></h2>
<p><%= @list.description %><p>
<p>
<label><h4>Incomplete Tasks</h4>
	<% @list.tasks.incomplete.each do |task| %>
		<% unless task.description.nil? %>
			<p><li><%= task.description%> <%= link_to "Edit", edit_list_task_path(@list.id, task.id) %> | <%= link_to "Complete", complete_task_path(@list.id, task.id), :confirm => "Are you sure you want to complete #{task.description}?" %></li></p>
		<% end%> 
	<%end%>
</label>
</p>
<p>
<label><h4>Completed Tasks</h4>
	<% @list.tasks.complete.each do |task| %>
		<% unless task.description.nil? %>
			<p><li><%= task.description%></li></p>
		<% end%> 
	<%end%>
</label>
</p>
<p>
<label>Add new task:
	<%= form_for [@list, @task] do |f| %>
		<p><%= f.text_field :description, :size => 75  %>
		<%= f.submit %>
	<% end %>
</label>
</p>
<%= link_to "Back to My Todo Lists", lists_path %>