<% if notice %>
<div class="alert alert-success"><%= notice %></div>
<% end %>

		<table class= "table table-striped table-bordered">	

		<%= form_for [@list,@task], :validate => true do |f| %>	

			<tr>
				<td><%= f.text_field :description, :size => 75 , :placeholder => "Task Description" %></td> 
				<td>Priority <%= f.select(:priority, options_for_select(['low','high'])) %></td>
				<td><%= f.submit class: "btn btn-info" %></td>
			</tr> 

			<% end %> 
		</table>
	

