<%#= render "new.js" %>

<% if notice %>
<div class="alert alert-success"><%= notice %></div>
<% end %>

		<table class= "table table-striped table-bordered">	

		<%= form_for [@list,@task], :validate => true do |f| %>	

			<tr>
				<td><%= f.text_field :description, :size => 75 , :placeholder => "Task Description" %>
				</td>
				<% if @task.nil? %>
					<td><%= f.text_field :due_at, :placeholder => "Due Date", id: "datepicker"%></td>
				<% else %>
					<td><%= f.text_field :due_at, :value => @task.due_at.to_date, id: "datepicker"%></td>
				<% end %> 
				<td>Priority <%= f.select(:priority, options_for_select(['low','high'])) %></td>
				<td><%= f.submit class: "btn btn-info" %></td>
			</tr> 
			<% end %> 
		</table>
	</br>
	<%= link_to "Back to #{@list.description.titleize}", @list , class: "btn btn-info"%>
	

