<%#= render "new.js" %>

<% if notice %>
<div class="alert alert-success"><%= notice %></div>
<% end %>


		<%= form_for [@list,@task], :validate => true do |f| %>

				<p><%= f.text_field :description, :size => 75 , :placeholder => "Task Description" %>
				</p>
					<p><%= f.text_field :tag, :placeholder => "Task Tag" %></p>
				<% if @task.due_at.nil? %>
					<p><%= f.text_field :due_at, :placeholder => "Due Date", id: "datepicker"%></p>
				<% else %>
					<p><%= f.text_field :due_at, :value => @task.due_at.to_date, id: "datepicker"%></p>
				<% end %>
				<p><%= f.select(:priority, options_for_select(['Select Priority','low','high'])) %></p>
        <p><%= f.select(:sms_frequency, options_for_select(['Set SMS Reminder','5 hours', '3 hours', '1 hour'])) %></p>
				</br>
				<p><%= f.submit class: "btn btn-info" %></p>
			<% end %>
	</br>
	<%= link_to "Back to #{@list.name.titleize}", @list , class: "btn btn-info"%>


